* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */

body {
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-weight: 400;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.btn-linear {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  transition: 0.5s;
}

.btn-linear:hover {
  background-position: right center;
}

.title p {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 20px;
  color: #f55f8d;
}

.title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
/* general */

/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container,
.header__container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container ul li {
  display: inline;
  margin-right: 30px;
}

.header__container li a {
  text-decoration: none;
  color: #070120;
  font-size: 15px;
  font-weight: 500;
}

.header__container li:hover a {
  color: #f55f8d;
}

.header__container i {
  font-size: 9px;
  vertical-align: middle;
  margin-top: -3px;
}

.header__container nav {
  padding: 40px 0;
}

.header__container span {
  display: inline-block;
}

.header__container li:hover span {
  animation-name: downToUp;
  animation-duration: 0.3s;
}

@keyframes downToUp {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* end header */

/* start hero banner */
.hero-banner {
  background: url(../img/pic2.png);
  background-size: 100%;
  padding-top: 180px;
}

.hero-banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-banner-content .left {
  width: 60%;
}

.hero-banner-content .right {
  width: 40%;
}

.hero-banner-content .article p {
  font-size: 18px;
  margin-bottom: 15px;
}

.hero-banner-content .left ul {
  margin-bottom: 20px;
}

.hero-banner-content .left li {
  list-style-type: none;
  font-size: 20px;
  padding: 10px 5px 10px 0;
}

.hero-banner-content .left li i {
  height: 35px;
  width: 35px;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  font-size: 24px;
  font-weight: 900;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.hero-banner-content .right .image {
  margin-left: 50px;
  width: 570px;
}

.hero-banner-content .right img {
  max-width: 100%;
  display: block;
}

/* end hero banner */

/* start service */
.service {
  text-align: center;
  padding-top: 115px;
  background: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
}

.service__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 40px;
}

.service__item {
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  padding: 30px 45px;
  transition: 0.5s;
}

.service__item:hover {
  transform: translateY(-20px);
}

.service__item img {
  width: 215px;
}

.service__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
/* end service */

/* start about us */
.about-us {
  padding-top: 115px;
  background: url(../img/bg15.png) no-repeat;
  background-size: 100%;
  background-position: center right;
  padding-bottom: 85px;
}

.about-us__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.about-us__content .left {
  width: 60%;
}

.about-us__content .right {
  width: 50%;
}

.about-us__content .left img {
  width: 100%;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.about-us__content .left {
  position: absolute;
  left: -17%;
}

.about-us__content .right p {
  margin-bottom: 15px;
}

.about-us__content .right ul {
  margin-bottom: 30px;
}

.about-us__content .right li {
  list-style-type: none;
}

.about-us__content .right i {
  color: #f55f8d;
  margin-right: 10px;
  font-size: 24px;
  vertical-align: middle;
}
/* end about us */

/* start number */
.number {
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  background: url(../img/bg14.png) no-repeat;
  background-position: center;
}

.number__content {
  display: flex;
  justify-content: space-around;
}

.number__content i {
  font-size: 45px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #fff;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 15px;
}

.number__item p:nth-of-type(1) {
  font-size: 65px;
  color: #f55f8d;
  font-weight: 800;
  line-height: 1;
}

.number__item p:nth-of-type(2) {
  font-size: 18px;
  color: #262626;
}
/* end number */

/* start feature */
.feature {
  background: url(../img/bg2.png) no-repeat;
  background-size: 100%;
  background-position: center;
  padding-top: 115px;
}

.feature .left,
.feature .right {
  width: 50%;
}

.feature__content,
.feature__item {
  display: flex;
  justify-content: space-between;
}

.feature__item {
  padding: 30px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  margin: 30px 0;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.feature__item div,
.feature__item i {
  z-index: 1;
  transition: 1s;
}

.feature__item:hover div,
.feature__item:hover i {
  color: #fff;
}

.feature__item::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
}

.feature__item:hover::after {
  opacity: 1;
}

.feature__item:nth-of-type(2) {
  margin-right: 50px;
}

.feature__item:nth-of-type(3) {
  margin-left: 50px;
}

.feature__item:nth-of-type(4) {
  margin-right: 50px;
}

.feature__item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  padding-right: 25px;
}

.feature__banner {
  margin-right: -80px;
}

.feature__content .right img {
  max-width: 100%;
  animation: swaying 5s infinite;
}

@keyframes swaying {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(2px, 2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* end feature */

/* start portfolio */
.portfolio {
  padding-top: 115px;
  background: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
}

.portfolio .title {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-gap: 35px;
}

.portfolio__item:nth-of-type(1),
.portfolio__item:nth-of-type(5) {
  grid-column: 1 / span 2;
}

.portfolio__item:nth-of-type(6) {
  grid-column: 3/4;
  grid-row: 2/4;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
}

.portfolio__item {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.portfolio__item::before {
  position: absolute;
  top: 0;
  left: -100%;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: 0.75s;
}

.portfolio__item:hover::before {
  left: 125%;
}

.portfolio__item .overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.75s;
}

.portfolio__item:hover .overlay {
  opacity: 1;
}

.portfolio__item .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.portfolio__item:hover .icon {
  transform: translate(0, 0);
  cursor: pointer;
}

.portfolio__item .icon i {
  color: #fff;
}

.portfolio__item .text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #fff;
  transform: translateY(150px);
  transition: all 0.75s;
}

.portfolio__item h3 {
  font-size: 22px;
  font-weight: 800;
}

.portfolio__item p {
  opacity: 0.7;
}

.portfolio__item:hover .text {
  transform: translateY(0);
}

/* end portfolio */

/* start plan */
.plan {
  background: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  padding-top: 115px;
}

.plan .title {
  text-align: center;
}

.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 40px;
}

.plan__item {
  background: #fff;
  box-shadow: 1px 0 50px 0 rgb(0 0 0 / 10%);
  padding: 35px 60px;
  border: 3px solid transparent;
  text-align: center;
  border-image: 100 round;
  transition: all 0.5s;
}

.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}

.plan__item h3 {
  font-weight: 700;
  color: #262626;
  font-size: 2rem;
}

.plan__item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}

.plan__item span {
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}

.plan__item img {
  width: 125px;
}

.plan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}

.plan__item ul li {
  list-style-type: none;
  padding: 5px 0;
  font-weight: 400;
  font-size: 18px;
  color: #262626;
}

.plan__item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 50%;
  text-align: center;
  margin-right: 15px;
}
/* end plan */

/* start testimonial */
.testimonial {
  padding-top: 115px;
  text-align: center;
  background: url(../img/bg17.png) no-repeat;
  background-position: center;
  background-size: 100%;
}

.testimonial__content {
  min-height: 300px;
}

.testimonial__thumbnail::before,
.testimonial__thumbnail::after {
  content: "";
  width: 30px;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
}

.testimonial__thumbnail::before {
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
  left: 0;
}

.testimonial__thumbnail::after {
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
  right: 0;
}

.testimonial__thumbnail {
  width: 300px;
  height: 170px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.testimonial__img::before,
.testimonial__img::after {
  content: "";
  background-color: #f55f8d;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 1s;
}

.testimonial__img::before {
  height: 15px;
  width: 15px;
  bottom: 30px;
}

.testimonial__img::after {
  height: 10px;
  width: 10px;
  bottom: 0px;
}

.swiper-slide-thumb-active .testimonial__img::before,
.swiper-slide-thumb-active .testimonial__img::after {
  opacity: 1;
}

.testimonial__img .bottom-shape {
  width: 50px;
  height: 35px;
  background-color: #f55f8d;
  bottom: 16px;
  position: relative;
  transform: translateX(42%);
  opacity: 0;
  transition: all 1s;
}

.swiper-slide-thumb-active .testimonial__img .bottom-shape {
  opacity: 1;
}

.testimonial__img .bottom-shape::before {
  content: "";
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: cover;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}

.testimonial__thumbnail img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
  background-color: #f55f8d;
  z-index: 2;
  position: relative;
}

.testimonial__thumbnail .testimonial__img {
  padding: 30px 0 0;
  transition: all 0.5s;
}

.testimonial__thumbnail .swiper-slide-thumb-active .testimonial__img {
  padding: 0 0 40px;
}

.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}

.testimonial__text {
  padding: 30px;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  max-width: 770px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(180deg);
}

.testimonial__text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}

.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial__text p:nth-of-type(1) {
  color: #f55f8d;
  margin-bottom: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #f55f8d;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: auto;
}

.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}

/* end testimonial */

/* start blog */
.blog {
  padding-top: 115px;
  background: url(../img/bg16.png);
  background-size: cover;
  background-position: top cneter;
  padding-bottom: 50px;
}

.blog .title {
  text-align: center;
}

.blog__item {
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog__item img {
  width: 100%;
  border-radius: 8px;
  display: block;
}

.blog__item .item__header {
  position: relative;
}

.blog__item .item__header p {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 6px;
  border: 1px solid transparent;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 15px;
}

.blog__item .item__desc {
  padding: 30px 15px 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}

.blog__item .item__desc h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}

.item__footer {
  display: flex;
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  align-items: center;
}

.item__footer p:nth-of-type(1) {
  margin-right: 20px;
}

.item__footer p:nth-of-type(1) span {
  color: #f55f8d;
}

.item__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
/* end blog */

/* start footer */
footer {
  background-image: url(../img/bg4.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #0e1b1f;
  color: #fff;
  font-size: 15px;
  display: block;
  height: auto;
  position: relative;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer__top {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  display: flex;
  position: relative;
}

.footer__toptext,
.footer__topform {
  width: 50%;
}

.footer__toptext h2 {
  font-size: 28px;
  color: #262626;
}

.footer__topform form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__topform input {
  padding: 20px;
  font-size: 15px;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
}

.footer__topform button {
  padding: 20px 35px;
  font-size: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-color: transparent;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
}

.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}

.footer__item {
  width: 25%;
  position: relative;
}

.footer__item li {
  list-style-type: none;
  padding: 0.5rem 0;
}

.footer__item a {
  color: #636363;
  text-decoration: none;
  transition: all 0.5s;
  font-size: 16px;
}

.footer__item li:hover a {
  color: #fff;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__contact li {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  border-radius: 50%;
  display: block;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
  color: #fff;
}

.footer__item h3::before,
.footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer__item h3::before {
  width: 15px;
}

.footer__item h3::after {
  width: 45px;
  left: 20px;
}

footer .copyright {
  background: #1f343b;
  padding: 10px 0;
  position: relative;
}

.copyright__content {
  display: flex;
  justify-content: space-between;
}

.copyright__content .left span {
  color: #f55f8d;
}

.copyright__content a {
  text-decoration: none;
  color: white;
}

.copyright__content a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: all 0.5s;
}

.copyright__content a:hover {
  background-color: #f55f8d;
}
/* end footer */

/* back to top */
.backToTop {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}

/* back-to-top button visible */
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* reduce button opacity if user keeps scrolling */
.cd-top--fade-out {
  opacity: 0.5;
}
